<div class="signers">

  <h2>These are the people that signed the petition: </br></br></h2>
  <p>click on the names to see the signers webpage </br>
    or click on the city to see the list of signers from each city</p>


    {{#each signers}}
      <h2> <a class="signers" href="{{url}}">{{first}} {{last}}, {{age}}</a> <a class="signers" href="/signers/{{city}}">({{city}})</a></h2>
    {{/each}}

</div>
